## [Exercises] Python for Data Science by IBM

In [1]:
print("Hello\nWorld!")

Hello
World!

In [2]:
# print('Hello World!')

In [4]:
# code to convert the number 0 and 1 to a Boolean

bool(1)
#True

bool(0)
#False

0

In [5]:
#Find
"0123456".find('1')

1

In [7]:
#To obtain the even elements

Numbers = "0123456"
Numbers[::2]

'0246'

In [16]:
#Operator
3 + 2 * 2

7

In [13]:
#Slice
name = 'Lizz'
print(name[0:2])

Li

In [14]:
#String add
'1'+'2'

'12'

In [15]:
#UPPERCASE
myvar = 'hello'
myvar.upper()

'HELLO'

## Listas, Tuplas e Sets

In [24]:
# Lists are mutable tuples are not, mas podemos inserir tuplas dentro de tuplas (nesting = aninhamento)

A = (0,1,2,3)
#A[3] or A[-1] to access the last element

In [21]:
B=["a","b","c"]
B[1:]

['b', 'c']

In [23]:
#Sets não são ordenados como Tuplas, são como conjuntos numéricos, but cannot have duplicate elements
A = {'B', 'C'}
U = {'D', 'E'}

U.union(A)

{'B', 'C', 'D', 'E'}

## Dictionaries

In [29]:
D={'a':0,'b':1,'c':2}
D.values()

dict_values([0, 1, 2])

In [28]:
D['b']

1

In [44]:
Dict={"A":1,"B":"2","C":[3,3,3],"D":(4,4,4),'E':5,'F':6}
Dict["D"]

(4, 4, 4)